apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rabbitmq-app
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  destination:
    namespace: rabbitmq
    server: https://kubernetes.default.svc
  project: default
  source:
    path: day-2-definitions/rabbitmq
    repoURL: https://github.com/hoprnet/ct-platform
    targetRevision: feature/rabbitmq
    helm:
      releaseName: rabbitmq
      valueFiles:
        - ./values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true